body {
   background-image: whitesmoke;
   background-repeat: none;
   color: #696969;
   height: 110vh;
   font-family: 'Montserrat', sans-serif;
}


.clearfix::after {
   content: "";
   clear: both;
   display: table;
}

header {
   background-color: #F77B77;
   width: 100%;
   position: fixed;
   top: 0;
   z-index: 600;
}

#header-nav {
   margin: 1% 10%;
}

.nav-link {
   cursor: pointer;
}

#header-nav li {
   color: whitesmoke;
   font-size: 18px;
   padding: 1% 0;
}

h3 {
   color: whitesmoke;
   font-size: 24px;
}

.header-left {
   float: left;
   width: 30%;
}

.header-right {
   float: right;
   width: 60%;
}

.main-content {
   margin: auto;
}

#landing-content {
   color: whitesmoke;
   height: 30%;
   margin: auto;
   width: 80%;
   height: 70%;
   margin: auto;
   padding-top: 15%;
}

.landing-window {
   height: 100vh;
   background-color: #F77B77;
}

.landing-window,
#portfolio-display,
#contact-display {
   padding: 5% 0;
   position: relative;
}

#about-me,
#portfolio-display {
   height: 90vh;
   padding: 2% 10%;
}

#contact-display {
   height: 60vh;
   padding: 2% 10%;
}

#portfolio-display,
footer {
   background-color: #DCDCDC;
}

footer {
   margin: auto;
   padding: 5% 0 3% 0;
}

.info-display {
   margin: auto;
}

h2,
h3,
h4,
li.info {
   /* font-family: 'Roboto Mono', monospace; */
   text-align: center;
}

h2 {
   font-size: 44px;
   font-weight: bold;
   line-height: 2;
   margin: auto;

}

h3 {
   font-size: 34px;
   margin: 2%;
}

h4, h5 {
   font-size: 20px;
   padding: 2%;
}

h5 {
   font-weight: bold;
}

ul {
   margin-top: 2%;
   display: flex;
   flex-direction: row;
   align-content: center;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

p {
   text-align: center;
   line-height: 1.5;
}

a {
   text-decoration: none;
   color: #F77B77;
   line-height: 1.2;
}

#landing-content li {
   font-size: 24px;
}

li.landing-nav {
   width: 30%;
   padding: 3% 0;
   border: 2px solid whitesmoke;
   text-align: center;
}

li.landing-nav:hover {
   background-color: rgba(255, 141, 135, .5);
}

li.describe {
   width: 25%;
   justify-content: center;
   text-align: center;
}

.list-icon {
   font-size: 60px;
}

#content-display {
   margin: 0 auto;
}

.projects-div {
   margin: 0 auto;
   padding: 1%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}

.project {
   height: 40%;
   width: 32%;
   position: relative;
}

div.text {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   display: inline-block;
   background-color: whitesmoke;
}

.project-info p {
   font-size: 18px;
   line-height: 1.2;
}

.links {
   display: flex;
   flex-direction: row;
   justify-content: center;
}


.project img {
   width: 100%;
}

.project-info {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
}

p.description {
   font-size: 1rem;
   line-height: 1.1;
   margin: 2% 0;
}

.hidden {
   display: none;
}

.portrait {
   width: 100%;
   height: auto;
   box-shadow: 0 10px 6px -6px #777;
}

.float-left {
   float: left;
   width: 60%;
   padding: 2% 5% 5% 0;
}


.float-right {
   float: right;
   padding: 2% 5% 5% 0;
   width: 30%;
}

.content {
   padding: 2%;
   margin-top: 1%;
}

.content p {
   text-align: center;
   font-size: 18px;
}

.content li {
   font-size: 18px;
   letter-spacing: 2px;
   padding: 5px;
   margin: 2%;
}

img.contact {
   width: 64px;
}

a.contact {
   padding: 2%;

}

.contact-buttons {
   display: flex;
   flex-direction: row;
   align-content: center;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
}

.content,
#portfolio-div {
   position: relative;
   left: 50%;
   transform: translateX(-50%);
}



@media only screen and (max-width: 980px) {
    p {
       font-size: 1rem;
      line-height: 1.2;
   }

   #about-me,
   #portfolio-display,
   #contact-display {
      height: auto;
   }


   .list-icon {
      font-size: .9rem;
   }


   #about-me {
      font-size: 1rem;
   }

   h2, 
   h4,
   h3 {
      font-size: 1.5rem;
   }

   .float-left {
      float: none;
      width: 100%;
   }

   .project {
      height: 40%;
      width: 47%;
   }
}

/* tablet view */
@media only screen and (max-width: 768px) {
   #about-me,
   #portfolio-display,
   #contact-display {
      width: 95%;
      padding: 0;
   }

   p,
   .content p{
      font-size: .9rem;
   }

   h4 {
      font-size: 1.2rem;
   }

   .list-icon {
      font-size: 1.7rem;
   }

   #about-me,
   #portfolio-display,
   #contact-display {
      width: 95%;
      padding: 0;
   }
}

/* landscape mobile phone */
@media only screen and (max-width: 640px) {
   body {
      width: 100%;
      font-size: .7rem;
   }

   #landing-content ul {
      flex-direction: column;
   }

   li.landing-nav {
      width: 100%;
      margin-top: 2%;
   }

   .float-right {
      float: none;
      width: 100%
   }

   #portrait {
       width: 100%;
      padding: none;
   }


   .project {
      margin: 0;
      width: 100%;
   }

  #about-me,
  #portfolio-display,
  #contact-display {
     width: 99%;
     padding: 0;
  }

  

}